@font-face {
  font-family: "Canvas Text Serif";
  font-display: swap;
  src: url("/canvastextserif-webfont.woff2") format("woff2"),
  url("/canvastextserif-webfont.woff2") format("woff2");
}

body {
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: $font-canvas;
}

p, span, a, li {
  font-family: 'Roboto', sans-serif;
  @extend .font-16
}

p {
  color: #4e4e4e;
}

h1, h2 {
  margin-top: 0;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 16px;
}

.product {
  display: flex;
  padding-bottom: 80px;
  flex-direction: column-reverse;
  .title {
    font-size: 45px;
    line-height: 1.2;
    display: block;
    font-family: $font-canvas;
    margin-bottom: 24px;
  }
  ul, ol {
    margin: 0 0 32px;
  }
  ul {
    padding: 0;
    list-style: none;
  }
  ol {
    padding: 0 20px;
    li {
      padding-bottom: 16px;
    }
  }
  @media (min-width: 500px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.product img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.product .right {
  padding: 32px;
}

@media (min-width: 768px) {
  .product {
    padding-top: 80px;
    display: flex;
    flex-direction: row;
  }
  .product .right {
    padding-left: 32px;
  }
  .product .left, .product .right {
    width: 50%;
  }
  .product .left {
    padding-bottom: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.list-preview-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px -16px 40px;
}

.list-preview {
  display: flex;
  flex-direction: column;
  padding: 16px;
  text-decoration: none;
  img {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  span {
    text-align: center;
    font-family: $font-canvas;
    font-size: 20px;
    padding: 24px 14px 16px;
    color: #545454;
    position: relative;
  }
  &:hover {
    text-decoration: underline wavy black;
    text-underline-offset: 4px;
    text-decoration-thickness: 3px;
    text-decoration-skip-ink: none;
    span {
      color: black;
    }
  }
}

.font-16 {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: .2px;
}

.font-25 {
  font-size: 28px;
  line-height: 32px;
}

.title-25 {
  font-family: $font-canvas;
  @extend .font-25;
  letter-spacing: .4px;
  color: #545454;
}

.button-transparent {
  border: 3px solid #707070;
  background: transparent;
  color: #545454;
  text-decoration: none;
  padding: 16px 40px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  &:hover {
    border: 3px solid black;
    color: black;
  }
  &:active {
    background: rgba(black,.2);
  }
}

.button-transparent-white {
  border: 3px solid white;
  background: rgba(white,.1);
  color: white;
  text-decoration: none;
  padding: 16px 40px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  &:hover {
    background: rgba(white,.3)
  }
  &:active {
    background: rgba(white,.5);
  }
}

.text-center {
  text-align: center;
}

.noscroll {
  height: 100vh;
  overflow: hidden;
}

.font-canvas {
  font-family: $font-canvas;
}

.sub-page-header {
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: white;
    font-size: 51px;
    letter-spacing: .6px;
    line-height: 1;
    margin: 0;
  }
  @media (min-width: 500px) {
    font-size: 77px;
  }
}

.products, .recipes {
  text-align: center;
  h1 {
    margin-top: 40px;
  }
  p {
    max-width: 800px;
    margin: 24px auto;
  }
}

.white {
  color: white;
}

.sub-page-intro {
  padding: 32px 0 8px;
}

.about {
  padding-top: 80px;
  padding-bottom: 40px;
  p {
    max-width: 800px;
    margin: 0 auto 8px;
  }
}

a[href^="mailto"], a[href^="tel"] {
  color: black;
  text-decoration: underline black;
  text-underline-offset: 1px;
  &:hover {
    color: blue !important;
    text-decoration-color: blue;
  }
}

.recipe-title {
  font-size: 21px;
  line-height: 1.5;
  margin-bottom: 16px;
  display: block;
  font-family: $font-canvas;
}

.page-enter-active,
.page-leave-active,
.layout-enter-active, 
.layout-leave-active {
  transition: opacity .2s
}

.page-enter,
.page-leave-active,
.layout-enter, 
.layout-leave-active {
  opacity: 0
}

.ingridients {
  li {
    padding: 2px 0;
  }
}

@media (max-width: 1024px) {
  #silentbox-overlay__close-button .icon {
    left: 0 !important;
  }
}

.fade-in {
  animation: fadeIn .7s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}